<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

 
    <li class="nav-item">
      <a class="nav-link" href="/">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Home</span>
      </a>
    </li>


    <li class="nav-item nav-category">Other</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Attendance</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/attendance">Mark Attendance</a></li>
          @if (User.IsInRole("ChefProjet")){
            <li class="nav-item"> <a class="nav-link" href="/attendance-overview">Attendance Overview</a></li>
          }
        </ul>
      </div>
    </li>
    @if (User.IsInRole("Admin")){
      <li class="nav-item">
        <a class="nav-link" href="/Dashboard/Employee" >
          <i class="menu-icon mdi mdi-chart-line"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
    }

    <li class="nav-item">
      <a class="nav-link" href="/calendar">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Calendar</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="/feedback/create">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Feedback</span>
      </a>
    </li>
  </ul>
</nav>